
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: #f4f4f4;
    }

    /* Header */
    header {
      background: #000;
      color: #fff;
      padding: 15px;
      text-align: center;
      font-size: 22px;
    }

    /* Main container */
    .container {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }

    /* Bus box */
    .bus-box {
      background: #fff;
      padding: 20px;
      border-radius: 10px;
      width: 350px;
      box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    }

    .bus-title {
      text-align: center;
      font-size: 18px;
      margin-bottom: 15px;
    }

    /* Seats layout */
    .seats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
      justify-items: center;
      margin-bottom: 20px;
    }

    .bus_seat {
      width: 50px;
      height: 50px;
      border: 2px solid #000;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }

    /* Seat states */
    .available {
      background: #fff;
    }

    .selected {
      background: yellow;
    }

    .booked {
      background: red;
      cursor: not-allowed;
    }

    /* Legend */
    .legend {
      display: flex;
      justify-content: space-around;
      margin-bottom: 15px;
      font-size: 14px;
    }

    .legend div {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .legend span {
      width: 15px;
      height: 15px;
      display: inline-block;
      border: 1px solid #000;
    }

    /* Button */
    button {
      width: 100%;
      padding: 10px;
      background: #000;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

    button:hover {
      background: #333;
    }
    .back-link {
      display: block;
      text-align: center;
      margin-top: 15px;
      color: #000;
      
    }
    .popup {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
  position: relative;
}
.popup-content button{
  margin-top: 7px;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
}

.payment_container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.payment_option {
  background-color: #f0f0f0;
  padding: 15px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}

.payment_option:hover {
  background-color: #ddd;
}